/* app css stylesheet */

.slide.services .thumbnail {
  background-color: transparent;
  border: 0;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 35px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.slide.services .thumbnail:hover {
  background-color: #FF7C6D;
}

.slide.services .thumbnail .circle {
  position: relative;
  border-radius: 50%;
  background-color: #f7f7f7;
  width: 155px;
  height: 155px;
  margin: 0 auto;
}

.slide.services .thumbnail:hover .circle {
  background-color: #fff;
}

.slide.services .thumbnail .circle a {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -60px;
  margin-top: -55px;
  width: 120px;
  height: 110px;
  display: block;
  background: url(../img/sprites.png) no-repeat -4px -9px;
}

.slide.services .thumbnail .circle a.line-chart {
  background-position: -158px -9px;
}

.slide.services .thumbnail .circle a.line-chart {
  background-position: -158px -9px;
}

.slide.services .thumbnail .circle a.pie-chart {
  background-position: -308px -9px;
}

.thumbnail h3 {
  margin: 0;
  font-size: 30px;
}

.slide.services .thumbnail h3 a:hover {
  color: #fff;
  text-decoration: none;
}
.slide.services .thumbnail h3 a {
  font-size: 16px;
  color: #000;
}

.slide.services .thumbnail p {
  visibility: hidden;
  font-size: 12px;
  color: #939393;
}

.slide.services .thumbnail:hover p {
  visibility: visible;
  color: #000;
}
