<section id="main">
  <a href="./#/vacancies"><- Back to vacancies list</a>
  <nav id="secondary" class="main-nav">
    <table class="table table-bordered table-data">
      <thead>
        <tr>
          <th>Category</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in [0, 1, 2, 3]">
          <td><input id="category_{{item}}" class="form-control" type="text"/></td>
          <td><input id="value_{{item}}" class="form-control" type="text"/></td>
        </tr>
      </tbody>  
    </table>
</section>
