<!--<div class="jumbotron">
  <img class="logo" ng-src="img/logo.png" />
  <h2>Работай из дома</h2>
  <p>Надоело сидеть в офисе? Тратишь много времени на дорогу? Работай из дома!</p>
  <div class="clear"><!--nothing--><!--</div>
</div>
<input type="text" class="form-control" ng-model="nameFilter" placeholder="Search..." />-->
<div class="slide services">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="circle">
        <a href="#/graph/bar" title="Web and Mobile Design" class="bar-chart"></a>
      </div>
      <div class="caption">
        <h3><a href="#/graph/bar" title="Web and Mobile Design">Bar Chart</a></h3>
        <p>Tailor-made web design dubai / responsive website dubai / mobile website dubai...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="circle">
        <a href="#/graph/line" title="Web and Mobile Design"  class="line-chart"></a>
      </div>
      <div class="caption">
        <h3><a href="#/graph/line" title="Web and Mobile Design">Line Chart</a></h3>
        <p>Tailor-made web design dubai / responsive website dubai / mobile website dubai...</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="circle">
        <a href="#/graph/pie" title="Web and Mobile Design"  class="pie-chart"></a>
      </div>
      <div class="caption">
        <h3><a href="#/graph/pie" title="Web and Mobile Design">Pie Chart</a></h3>
        <p>Tailor-made web design dubai / responsive website dubai / mobile website dubai...</p>
      </div>
    </div>
  </div>
</div>
